<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF" monitorInterval="60">
	<appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%M:%L]%class{2} - %msg%n"/>
		</Console>
		
		<RollingFile name="file" fileName="logs/smart-framing-service.log" filePattern="logs/smart-framing-service-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%M:%L]%class{2} - %msg%n"/>
            <Policies>
            	<SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
	</appenders>
	
	<loggers>
	    <logger name="com.sdpm.smart.farming" level="info"/>
		<root level="info">
			<appender-ref ref="file"/>
			<appender-ref ref="console"/>
		</root>
	</loggers>
</configuration>